.info{
    font-size: 25px;
    color: aqua;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 40px;
}   

.swiper {
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
  }
  
  .swiperslide {
    background-position: center;
    background-size: cover;
    width: 300px;
    text-align: center;
    height: 300px;
  }
  
  .swiperslide img {
    display: block;
   width: 100%;
   height: 300px;
    border-radius: 10px;
  }
  .name{
    position: relative;
    z-index: 2;
    color: aqua;
    margin: 0 auto;
    font-size: 24px;
    width: 100%;
    font-weight: 800;
   margin-top: -24px;
   border-radius:   10px 10px 0 0;
    background-color: rgba(8, 12, 12, 0.582);
    text-align: center;
    .info_name{
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      width: 90%;
      margin: 0 auto;
     a{
      color: aqua;
      margin-top: -10px;
      border: none;
      text-decoration: none;
     }
    }
  }
  .modal{
    position: relative;
    background-color: aqua;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .Link{
    position: relative;
    z-index: 3;
  }