.skills{
    color: aqua;
    margin: 0 auto ;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 2px;
}
.Block_skills_cards {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    flex-wrap: wrap;

    margin: auto;
    div {

        width: 150px;
        position: relative;
        z-index: 1;
        height: 150px;
        background-color: #2a2a2a;
        padding: 25px;
        margin-left: 10px;
        border-radius: 29px;
        margin-top: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
   transform: rotate(0.3);
        &:hover{
       transition: 1.5s;
         background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
      
        }
        a{
            border: none;
            text-decoration: none;
        }
        samp {
            color: aqua;
            margin-top: 15px;
            font-size: 55px;
        }
        p {
            color: aqua;
            text-transform: capitalize;
            font-size: 20px;
            margin-top: 15px;
        }
    }
}

.button{
    width: 150px ;
    height: 40px;
    background-color: aqua;
    margin-top: 30px;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #00c4f0;
    filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
}